using System;
using System.Collections.Generic;
using System.Data;
using System.Data;
using System.Data.Entity;
using System.Linq;
using System.Net;
using System.Web;
using System.Web.Mvc;
using BookWorm.Models;






<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("User Login", "Index", "Login")</li>
    <li>@Html.ActionLink("SignUp", "Index", "Signup")</li>
    <li>@Html.ActionLink("Hello User", "Index", "UserProfile")</li>
</ul>
