@{
    ViewBag.Title = "Home Page";
}

<section>
      <img src="~/images/bak3.jpg" height="300"width="1300" class="img-fluid"/>
 </section>

<section>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <center>
                  <h2>Our Features</h2>
                  <p><b>Our 3 Primary Features -</b></p>
               </center>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <center>
                  <img width="150px" src="images/digital-inventory.png"/>
                  <h4>Digital Book Inventory</h4>
                  <p class="text-justify">Digital libraries can vary immensely in size and scope, and can be maintained by individuals or organizations.[1] The digital content may be stored locally, or accessed remotely via computer networks. These information retrieval systems are able to exchange information with each other through interoperability and sustainability</p>
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <img width="150px" src="images/search-online.png"/>
                  <h4>Search Books</h4>
                  <p class="text-justify"> an open research hub, a place for active Wikipedia editors to gain access to the vital reliable sources that they need to do their work </p>
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <img width="150px" src="images/defaulters-list.png"/>
                  <h4>Defaulter List</h4>
                  <p class="text-justify">if a person checks out a book from a public library and does not return it by its due date, the library is going to issue a fine, then at a later date, the library will follow up with a fine</p>
               </center>
            </div>
         </div>
      </div>
   </section>


<section>
      <img src="images/back2.jpg" class="img-fluid"height="300"width="1300" />
   </section>
   <section>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <center>
                  <h2>Our Process</h2>
                  <p><b>We have a Simple 3 Step Process</b></p>
               </center>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <center>
                  <img width="150px" src="images/sign-up.png" />
                  <h4>Sign Up</h4>
                 
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <img width="150px" src="images/search-online.png"/>
                  <h4>Search Books</h4>
                 
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <img width="150px" src="images/library.png"/>
                  <h4>Visit Us</h4>
                 
               </center>
            </div>
         </div>
      </div>
   </section>



<div class="jumbotron">
    <img src="~/images/Bookworm.jpg" width="100" height="100">
    <h1>BookWorm</h1>
    <p class="lead" width="1300">a software that uses to maintain the record of the library. It contains work like the number of available books in the library, the number of books are issued or returning or renewing a book or late fine charge record, etc.</p>
    <p><a></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction To our Project</h2>
        <p>
            The project titled “BookWorm” is a Library management website for monitoring and controlling the transactions
            in a library. hich mainly focuses on basic operations in a library like adding
            new member, new books, and updating new information, searching books and members to borrow and return
            books

        </p>
        <p><a></a></p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            • Member Signup - New users can sign up via this module.<br />
            • Member Login - Signed p users can log in.<br />
            • View Books - Anyone can view the available books.<br />
            • Admin Login - Admin can login via this module.<br />
            • Book Author Management - Add/Update/delete author details.<br />
            • Publisher Management - Add/Update/delete publisher details.<br />
            • Book Inventory - Add/Update/Delete books details.<br />
            • Book Issuing Process - Issue/Return Books.<br />
            • charity fund information - add/Update Charity Funds details.<br />
        </p>
        <p><a></a></p>
    </div>
    <div class="col-md-4">
        <h2>Conclusion</h2>
        <p>
            Having such management systems in libraries can streamline the entire operations in a very effective manner.
            With book records on click, dashboard to make real time analysis direct communication with the students;
            most of the activities can be done through the system which saves a lot of time for the team. Hence they can
            use their time productively in other priority work.
        </p>
        <p><a></a></p>
    </div>
</div>